In [65]:
import numpy as np
import pandas as pd
import os
import tqdm
import sqlalchemy as sqlalchemy
from sqlalchemy import create_engine
import sqlite3
import time

In [66]:
dir=os.getcwd()
dir

'C:\\Users\\20202431\\Desktop\\Year 2\\DC2\\Repository\\Data-Challenge-2'

In [199]:
col_names = ["Crime ID", "Year and Month", "Reported by", "Falls within", "Longitude", "Latitude", "Location", "LSOA code",
             "LSOA name", "Crime type", "Last outcome category", "Context"]

Crime_df = pd.DataFrame(columns = col_names)
Districts_we_want = ("-metropolitan-street.csv", "-thames-valley-street.csv", "-west-yorkshire-street.csv",
                     "-northumbria-street.csv", "-kent-street.csv")
File_List = []
District_List = []
Main_Folder = os.listdir(dir + "\\Data_Challenge_2_Data")
for month_folder in tqdm.tqdm(Main_Folder):
    if month_folder == ".DS_Store":
        print("Wrong File!")
    else:
        year = month_folder.split('-')[0]
        month = month_folder.split('-')[1]
        Sub_Folder = dir + "\\Data_Challenge_2_Data\\" + month_folder
        if(2014 < int(year) < 2022): #set ==, > or < to select the years
            for district_folder in os.listdir(Sub_Folder):
                if district_folder.endswith(Districts_we_want): #('-street.csv'):
                    filename = (Sub_Folder + "\\" + district_folder)
                    File_List.append(filename)
                    District_List.append(district_folder[8:-4]) #2012-01-avon-and-somerset-street.csv'
print(File_List[:5])

 43%|██████████████████████████████████▌                                             | 57/132 [00:00<00:00, 547.76it/s]

Wrong File!

100%|███████████████████████████████████████████████████████████████████████████████| 132/132 [00:01<00:00, 123.00it/s]

['C:\\Users\\20202431\\Desktop\\Year 2\\DC2\\Repository\\Data-Challenge-2\\Data_Challenge_2_Data\\2015-01\\2015-01-kent-street.csv', 'C:\\Users\\20202431\\Desktop\\Year 2\\DC2\\Repository\\Data-Challenge-2\\Data_Challenge_2_Data\\2015-01\\2015-01-metropolitan-street.csv', 'C:\\Users\\20202431\\Desktop\\Year 2\\DC2\\Repository\\Data-Challenge-2\\Data_Challenge_2_Data\\2015-01\\2015-01-northumbria-street.csv', 'C:\\Users\\20202431\\Desktop\\Year 2\\DC2\\Repository\\Data-Challenge-2\\Data_Challenge_2_Data\\2015-01\\2015-01-thames-valley-street.csv', 'C:\\Users\\20202431\\Desktop\\Year 2\\DC2\\Repository\\Data-Challenge-2\\Data_Challenge_2_Data\\2015-01\\2015-01-west-yorkshire-street.csv']

In [200]:
# 82 per file

In [201]:
startTime = time.time()
# col_names = ["Crime ID", "Month", "Year", "Reported by", "Falls within", "Longitude", "Latitude", "Location", "LSOA code",
#              "LSOA name", "Crime type", "Last outcome category", "Context", "District"]
col_names = ["Crime ID", "Month", "Year", "Falls within", "Longitude", "Latitude", "Location", "LSOA name", 
             "Crime type", "District"]

df_big = pd.DataFrame(columns = col_names)
files = File_List[:2]
for n in range(len(File_List)):
    df_temp = pd.read_csv(File_List[n])
    df_temp["District"] = District_List[n]
    df_temp["Year"] = int(df_temp['Month'][0][:4])
    df_temp["Month"] = int(df_temp['Month'][0][5:])
    df_temp.drop(["Reported by", "LSOA name", "Last outcome category", "Context"], axis=1, inplace = True)
#     print(np.unique(df_temp["Crime type"]))
    df_big = df_big.append(df_temp, ignore_index = True)
    
engine = create_engine('sqlite:///police.db')       #SQL ALCHEMY CONNECTION
df_big.to_sql(name = 'test_db', con = engine, if_exists = 'replace', index = False)  #Push this DF to database

executionTime = (time.time() - startTime)
print('Creating Database took: ' + str(executionTime) + ' seconds')

Creating Database took: 4467.916057348251 seconds

74.45

In [202]:
# df_big["Month"] = pd.to_numeric(df_big["Month"])
# df_big["Year"] = pd.to_numeric(df_big["Year"])
# df_big['Crime ID']= df_big['Crime ID'].astype(str)
# df_big['Falls within']= df_big['Falls within'].astype(str)
# df_small = df_big[:10]
# df_small.info()

In [203]:
# df_big["LSOA code"].unique()

In [210]:
con = sqlite3.connect('police.db')

In [211]:
c = con.cursor()

In [213]:
get_all = "SELECT * FROM test_db LIMIT 100"
# get_all = "SELECT * FROM test_db"
df_all = pd.read_sql_query(get_all, con) #Get Original tweets without any replies

In [214]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Crime ID      81 non-null     object
 1   Month         100 non-null    int64
 2   Year          100 non-null    int64
 3   Falls within  100 non-null    object
 4   Longitude     100 non-null    float64
 5   Latitude      100 non-null    float64
 6   Location      100 non-null    object
 7   LSOA name     0 non-null      object
 8   Crime type    100 non-null    object
 9   District      100 non-null    object
 10  LSOA code     100 non-null    object
dtypes: float64(2), int64(2), object(7)
memory usage: 8.7+ KB

In [215]:
df_all

,Crime ID,Month,Year,Falls within,Longitude,Latitude,Location,LSOA name,Crime type,District,LSOA code
0,e061754419b34c7588b3d6948576e3761c90ef5dc9d194...,1,2015,Kent Police,0.962332,51.244504,On or near The Square,None,Robbery,kent-street,E01023987
1,49d5c5743d6fe02c48a6b12a55d609be1d5163f9a4d01e...,1,2015,Kent Police,0.957949,51.259716,On or near New Forest Lane,None,Vehicle crime,kent-street,E01023987
2,cc1ab1e64ac5a42c201c0bdeba0c6562e0a1fbedf76c3d...,1,2015,Kent Police,0.973755,51.242757,On or near Mill Lane,None,Burglary,kent-street,E01023988
3,a3fd9a5076df156f5c54e5c5a31c573a9d56660a3dd9d3...,1,2015,Kent Police,0.958882,51.218894,On or near Ashford Road,None,Violence and sexual offences,kent-street,E01023988
4,ada14c581307f2f7e1facb10b5a7d4ae608b40f3986ec8...,1,2015,Kent Police,0.958572,51.217850,On or near The Street,None,Violence and sexual offences,kent-street,E01023988
...,...,...,...,...,...,...,...,...,...,...,...
95,41ff314f2ca28c7ef696f13c304465e0cedfe8360b243c...,1,2015,Kent Police,0.848827,51.150167,On or near Juniper Close,None,Criminal damage and arson,kent-street,E01023993
96,985522ab8dca409a1147e246f821e136042b7a7f37d541...,1,2015,Kent Police,0.844329,51.151670,On or near Maple Close,None,Vehicle crime,kent-street,E01023993
97,ef178a67cd19d8e5aa18508127afb1bc6f0c52b7219d25...,1,2015,Kent Police,0.849594,51.151003,On or near Thornlea,None,Violence and sexual offences,kent-street,E01023993
98,3582c19fc79e545a72c72f574fab30e1bf263100ae4f90...,1,2015,Kent Police,0.847824,51.150821,On or near Yew Close,None,Violence and sexual offences,kent-street,E01023993
99,2d2882ef9d1d1a27d3ed58b275ace0e7c06be8a5ad342c...,1,2015,Kent Police,0.849594,51.151003,On or near Thornlea,None,Other crime,kent-street,E01023993

In [26]:
# conn.close()